<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zhu.com.sortingdata">

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivityTest"/>
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.FourActivity" />
        <activity android:name=".activity.ThirdActivity" />
        <activity android:name=".activity.FiveActivity"></activity>
        <activity android:name=".activity.SixthActivity"></activity>
        <activity android:name=".activity.SeventhActivity"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Suggestion: use a compatible library with a minSdk of at most 15,  or increase this project's minSdk version to at least 19,-->
    <uses-sdk tools:overrideLibrary="com.angel.view"/>

</manifest>